.profile__edit-btn {
    display: flex;
    align-self: center;
    transition: opacity .3s;
    width: 24px;
    height: 24px;
    margin-left: 19px;
    margin-top: 4px;
    background-color: transparent;
    padding: 0;
    border: 1px solid #fff;
    background-image: url(../../../images/Edit-Button.svg);
    background-position: center;
    background-size: cover;
}

.profile__edit-btn:hover {
    opacity: .6;
    cursor: pointer;
}

@media screen and (max-width: 930px) {
    .profile__edit-btn {
        width: 18px;
        height: 18px;
        margin-left: 10px;
    }
}
