.profile__add-btn {
	box-sizing: border-box;
	background: none;
	padding: 0;
	background-image: url(../../../images/add-btn.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 22px;
	border: solid 2px #fff;
	border-radius: 2px;
	width: 150px;
	height: 50px;
	margin-left: auto;
}

.profile__add-btn:hover {
	opacity: .6;
	cursor: pointer;
}

@media screen and (max-width: 930px) {
	.profile__add-btn {
		width: 282px;
		background-size: 16px;
		margin-left: 0;
	}
}