.card-zoom__caption {
  margin: 0;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  max-width: 291px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 930px) {
  .card-zoom__caption {
    max-width: 240px;
  }
}
