.footer__copyright {
	margin: 66px 0 60px 0;
	color: #545454;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
}

@media screen and (max-width: 930px) {
	.footer__copyright {
		font-size: 14px;
		line-height: 17px;
		margin: 48px 0 36px 19px;
		width: 282px;
	}
}