.card__delete-btn {
  position: absolute;
  width: 18px;
  height: 19px;
  top: 20px;
  right: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background: none;
  background-image: url(../../../images/Trash.svg);
  border: 0;
}

.card__delete-btn:hover {
  opacity: 0.6;
  cursor: pointer;
}
