.profile__avatar {
	width: 120px;
	height: 120px;
	object-fit: cover;
	object-position: center;
	border-radius: 50%;
	margin-top: 0;
}

@media screen and (max-width: 930px) {
	.profile__avatar {
		margin: 0 0 26px;
	}
}