.profile__avatar-edit-btn {
    padding: 0;
    border: 0;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: background-color .2s ease;
  }
  
  .profile__avatar-edit-btn:hover,
  .profile__avatar-edit-btn:focus {
    background-image: url(../../../images/pencil.svg);
    background-size: 26px 26px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,.8);
  }