@import url(./vendor/normalize.css);

@import url(./vendor/fonts/fonts.css);

@import url(./blocks/page/page.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);

@import url(./blocks/container/container.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name-container/profile__name-container.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__edit-btn/profile__edit-btn.css);
@import url(./blocks/profile/__about/profile__about.css);
@import url(./blocks/profile/__add-btn/profile__add-btn.css);
@import url(./blocks/profile/__avatar-container/profile__avatar-container.css);
@import url(./blocks/profile/__avatar-edit-btn/profile__avatar-edit-btn.css);

@import url(./blocks/cards/cards.css);
@import url(./blocks/cards/__list/cards__list.css);

@import url(./blocks/card/card.css);
@import url(./blocks/card/__image/card__image.css);
@import url(./blocks/card/__caption/card__caption.css);
@import url(./blocks/card/__name/card__name.css);
@import url(./blocks/card/__like-btn/card__like-btn.css);
@import url(./blocks/card/__like-btn/_liked/card__like-btn_liked.css);
@import url(./blocks/card/__delete-btn/card__delete-btn.css);
@import url(./blocks/card/__delete-btn/_hidden/card__delete-btn_hidden.css);
@import url(./blocks/card/__like-counter/card__like-counter.css);
@import url(./blocks/card/__likes-container/card__likes-container.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);


@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__close-btn/popup__close-btn.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__container-image/popup__container-image.css);

@import url(./blocks/image-popup/image-popup.css);

@import url(./blocks/form/form.css);
@import url(./blocks/form/__heading/form__heading.css);
@import url(./blocks/form/__input-container/form__input-container.css);
@import url(./blocks/form/__item/form__item.css);
@import url(./blocks/form/__submit-btn/form__submit-btn.css);
@import url(./blocks/form/__submit-btn/_inactive/form__submit-btn_inactive.css);
@import url(./blocks/form/__item-error/form__item-error.css);
@import url(./blocks/form/__item/_invalid/form__item_invalid.css);

@import url(./blocks/card-zoom/card-zoom.css);
@import url(./blocks/card-zoom/__caption/card-zoom__caption.css);
@import url(./blocks/card-zoom/__image/card-zoom__image.css);